[user]
	name = Vinícius Ferrão
	email = vinicius@ferrao.net.br
	signingkey = D1F526228990AF53
[core]
	excludesfile = /Users/ferrao/.gitignore_global
[commit]
	gpgsign = true

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
